.footer2 {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 1px solid #666;
}

/* Footer Begin */

footer {
  background-color: #222B3B;
  color: #7C88A1;
  margin-top: 20;
  padding: 30px 0 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #666;
}

footer .container {
  position: relative;
}

.goto-up {
  background-color: #1C2536;
  border: 1px solid  #7C88A1;
  color: #7C88A1;
  right: 20px;
  top: -3px;
  position: absolute;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.footer-sitemap {
  background-color: #3F4759;
  color: #7C88A1;
  padding: 70px 0 45px;
}

.footer-sitemap .row h1,
.footer-sitemap .row h2,
.footer-sitemap .row h3,
.footer-sitemap .row h4,
.footer-sitemap .row h5,
.footer-sitemap .row h6 {
  color: #FFF;
  margin-bottom: 30px;
}

.followus {
  list-style: none;
  padding: 0;
}

.followus li {
  margin-bottom: 6px;
}

.followus a {
  color: #7C88A1;
  margin-bottom: 20px;
  padding: 16px 0 16px 26px;
  text-decoration: none;
}

.followus a:hover {
  color: #FFF;
}

.normal-link-list {
  list-style: none;
  padding: 0;
}

.normal-link-list li {
  margin-bottom: 6px;
}

.normal-link-list a {
  color: #7C88A1;
  margin-bottom: 20px;
  text-decoration: none;
}

.normal-link-list a:hover {
  color: #FFF;
}

/* Footer End */
