.box-blue {
  min-height: 260px;
  padding: 10px 30px;
}
.box-blue h3 { font-weight: 600; }
.box-phone { background: url(./assets/bg-phone.png) right center no-repeat #E8EEF6; }
.box-mail { background: url(./assets/bg-mail.png) right center no-repeat #E8EEF6; }

.help-list {
  list-style: none;
  padding: 1px;
}

.help-list li {
  margin-bottom: 10px;
}
