body {
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #FFF;
}

.ug-oauth-icon-list {
  display: inline-block;
  list-style: none;
  margin: 0 auto 10px;
  padding: 0;
  text-align: center;
  width: 100%;
  column-count: 4;
}

.ug-login-body {
  height: 100%;
  z-index: 2;
}

.ug-logo {
  margin: 30px 0 0;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.ug-login-panel {
  background-color: #FFF;
  box-shadow: 0 0 5px #E4E4E4;
  -moz-box-shadow: 0 0 5px #E4E4E4;
  -webkit-box-shadow: 0 0 5px #E4E4E4;
  margin: 2% auto 7%;
  width: 400px;
}

.ug-flat-border {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.ug-panel-body {
  padding: 20px;
}

.ug-oauth-wrapper {
  margin: 0 auto;
}

.ug-oauth-title {
  border-top: 1px solid #F5F5F5;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.ug-oauth-icon-list {
  display: inline-block;
  list-style: none;
  margin: 0 auto 10px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.ug-facebook-oauth {
  background-color: #3A5A98;
  border-radius: 15px 25px;
}

.ug-twitter-oauth {
  background-color: #60CAEF;
  border-radius: 15px 25px;
}

.ug-yahoo-oauth {
  background-color: #702C90;
  border-radius: 15px 25px;
}

.ug-googleplus-oauth {
  background-color: #E54A55;
  border-radius: 15px 25px;
}

.ug-or-oauth {
  border-top: 1px solid #F5F5F5;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-top: 20px;
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-addon:first-child {
  border-right: 0;
}

.ug-btn-sign {
  background-color: #075EAB;
  border: none;
  margin-top: 20px;
  padding: 12px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  color: #FFF;
  background-color: #428BCA;
  border-color: #357EBD;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-user {
  content: '\e008';
}

.ug-oauth-wrapper {
  margin: 0 auto;
}

.alert-danger {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
