.home_textSection {
  margin: 3em auto;
}

.home_textSection:first-child {
  margin-top: 0;
}

.home_centered {
  text-align: center;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.home_link {
  text-decoration: none;
}

._home_usernameForm {
  margin-bottom: 1em;
}

.home_input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.home_atPrefix {
  color: black;
  margin-left: 0.4em;
}
